OnlineStore/Connected Services/SalesPersonServiceReference/SalesPersonSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesPersonSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62335/Services/SalesPersonSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/SalesPersonSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/SalesPersonSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesPersonSVC_GetOrderHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderHeaders" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_GetOrderHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_GetAllOrderHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderHeaders" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_GetAllOrderHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_CreateShipmentXML_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateShipmentXML" />
  </wsdl:message>
  <wsdl:message name="ISalesPersonSVC_CreateShipmentXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateShipmentXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesPersonSVC">
    <wsdl:operation name="GetOrderHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesPersonSVC/GetOrderHeaders" message="tns:ISalesPersonSVC_GetOrderHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesPersonSVC/GetOrderHeadersResponse" message="tns:ISalesPersonSVC_GetOrderHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrderHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesPersonSVC/GetAllOrderHeaders" message="tns:ISalesPersonSVC_GetAllOrderHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesPersonSVC/GetAllOrderHeadersResponse" message="tns:ISalesPersonSVC_GetAllOrderHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesPersonSVC/GetOrderDetails" message="tns:ISalesPersonSVC_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesPersonSVC/GetOrderDetailsResponse" message="tns:ISalesPersonSVC_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateShipmentXML">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesPersonSVC/CreateShipmentXML" message="tns:ISalesPersonSVC_CreateShipmentXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesPersonSVC/CreateShipmentXMLResponse" message="tns:ISalesPersonSVC_CreateShipmentXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesPersonSVC" type="tns:ISalesPersonSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderHeaders">
      <soap:operation soapAction="http://tempuri.org/ISalesPersonSVC/GetOrderHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrderHeaders">
      <soap:operation soapAction="http://tempuri.org/ISalesPersonSVC/GetAllOrderHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/ISalesPersonSVC/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateShipmentXML">
      <soap:operation soapAction="http://tempuri.org/ISalesPersonSVC/CreateShipmentXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesPersonSVC">
    <wsdl:port name="BasicHttpBinding_ISalesPersonSVC" binding="tns:BasicHttpBinding_ISalesPersonSVC">
      <soap:address location="http://localhost:62335/Services/SalesPersonSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>