OnlineStore/Connected Services/SalesPersonServiceReference/SalesPersonSVC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62335/Services/SalesPersonSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" />
  <xs:element name="GetOrderHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" minOccurs="0" name="GetOrderHeadersResult" nillable="true" type="q1:ArrayOfOrderHeaderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderHeaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" minOccurs="0" name="GetAllOrderHeadersResult" nillable="true" type="q2:ArrayOfOrderHeaderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseOrderHeaderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q3:SalesProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShipmentXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseOrderHeaderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShipmentXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>