OnlineStore/Connected Services/AccountServiceReference/AccountSVC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" type="tns:Country" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
  <xs:simpleType name="Country">
    <xs:restriction base="xs:string">
      <xs:enumeration value="US" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="GB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
</xs:schema>