OnlineStore/Connected Services/AccountServiceReference/AccountSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62335/Services/AccountSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/AccountSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/AccountSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountSVC_CreatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePerson" />
  </wsdl:message>
  <wsdl:message name="IAccountSVC_CreatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountSVC_GetClientOrderHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientOrderHeaders" />
  </wsdl:message>
  <wsdl:message name="IAccountSVC_GetClientOrderHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientOrderHeadersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountSVC">
    <wsdl:operation name="CreatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountSVC/CreatePerson" message="tns:IAccountSVC_CreatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountSVC/CreatePersonResponse" message="tns:IAccountSVC_CreatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientOrderHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountSVC/GetClientOrderHeaders" message="tns:IAccountSVC_GetClientOrderHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountSVC/GetClientOrderHeadersResponse" message="tns:IAccountSVC_GetClientOrderHeaders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountSVC" type="tns:IAccountSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction="http://tempuri.org/IAccountSVC/CreatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientOrderHeaders">
      <soap:operation soapAction="http://tempuri.org/IAccountSVC/GetClientOrderHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountSVC">
    <wsdl:port name="BasicHttpBinding_IAccountSVC" binding="tns:BasicHttpBinding_IAccountSVC">
      <soap:address location="http://localhost:62335/Services/AccountSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>