OnlineStore/Connected Services/CartStoreServiceReference/CartSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CartSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62335/Services/CartSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/CartSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/CartSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartSVC_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_RemoveLine_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLine" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_RemoveLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLineResponse" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_ComputeTotalQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeTotalQuantity" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_ComputeTotalQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeTotalQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_ComputeTotalValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeTotalValue" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_ComputeTotalValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeTotalValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_Clear_InputMessage">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_Clear_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_Lines_InputMessage">
    <wsdl:part name="parameters" element="tns:Lines" />
  </wsdl:message>
  <wsdl:message name="ICartSVC_Lines_OutputMessage">
    <wsdl:part name="parameters" element="tns:LinesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartSVC">
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartSVC/AddItem" message="tns:ICartSVC_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartSVC/AddItemResponse" message="tns:ICartSVC_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartSVC/RemoveLine" message="tns:ICartSVC_RemoveLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartSVC/RemoveLineResponse" message="tns:ICartSVC_RemoveLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeTotalQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartSVC/ComputeTotalQuantity" message="tns:ICartSVC_ComputeTotalQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartSVC/ComputeTotalQuantityResponse" message="tns:ICartSVC_ComputeTotalQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeTotalValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartSVC/ComputeTotalValue" message="tns:ICartSVC_ComputeTotalValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartSVC/ComputeTotalValueResponse" message="tns:ICartSVC_ComputeTotalValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartSVC/Clear" message="tns:ICartSVC_Clear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartSVC/ClearResponse" message="tns:ICartSVC_Clear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lines">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartSVC/Lines" message="tns:ICartSVC_Lines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartSVC/LinesResponse" message="tns:ICartSVC_Lines_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICartSVC" type="tns:ICartSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/ICartSVC/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLine">
      <soap:operation soapAction="http://tempuri.org/ICartSVC/RemoveLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeTotalQuantity">
      <soap:operation soapAction="http://tempuri.org/ICartSVC/ComputeTotalQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeTotalValue">
      <soap:operation soapAction="http://tempuri.org/ICartSVC/ComputeTotalValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://tempuri.org/ICartSVC/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lines">
      <soap:operation soapAction="http://tempuri.org/ICartSVC/Lines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartSVC">
    <wsdl:port name="BasicHttpBinding_ICartSVC" binding="tns:BasicHttpBinding_ICartSVC">
      <soap:address location="http://localhost:62335/Services/CartSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>