OnlineStore/Connected Services/CartStoreServiceReference/CartSVC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeUnitMeasureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfCartLineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartLineDTO" nillable="true" type="tns:CartLineDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartLineDTO" nillable="true" type="tns:ArrayOfCartLineDTO" />
  <xs:complexType name="CartLineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductDTO" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartLineDTO" nillable="true" type="tns:CartLineDTO" />
</xs:schema>