OnlineStore/Connected Services/ProductServiceReference/ProductSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62335/Services/ProductSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/ProductSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62335/Services/ProductSVC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductSVC_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_Image_InputMessage">
    <wsdl:part name="parameters" element="tns:Image" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_Image_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageResponse" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_Dispose_InputMessage">
    <wsdl:part name="parameters" element="tns:Dispose" />
  </wsdl:message>
  <wsdl:message name="IProductSVC_Dispose_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposeResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductSVC">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductSVC/GetProduct" message="tns:IProductSVC_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductSVC/GetProductResponse" message="tns:IProductSVC_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductSVC/GetProducts" message="tns:IProductSVC_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductSVC/GetProductsResponse" message="tns:IProductSVC_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Image">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductSVC/Image" message="tns:IProductSVC_Image_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductSVC/ImageResponse" message="tns:IProductSVC_Image_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductSVC/Dispose" message="tns:IProductSVC_Dispose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductSVC/DisposeResponse" message="tns:IProductSVC_Dispose_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductSVC" type="tns:IProductSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProductSVC/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProductSVC/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Image">
      <soap:operation soapAction="http://tempuri.org/IProductSVC/Image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <soap:operation soapAction="http://tempuri.org/IProductSVC/Dispose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductSVC">
    <wsdl:port name="BasicHttpBinding_IProductSVC" binding="tns:BasicHttpBinding_IProductSVC">
      <soap:address location="http://localhost:62335/Services/ProductSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>