OnlineStore/Connected Services/OrderProcessorServiceReference/OrderProcessorSVC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnlineStore.Infrastructure.Business.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCartLineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartLineDTO" nillable="true" type="tns:CartLineDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartLineDTO" nillable="true" type="tns:ArrayOfCartLineDTO" />
  <xs:complexType name="CartLineDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ProductDTO" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartLineDTO" nillable="true" type="tns:CartLineDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeUnitMeasureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ShippingDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" type="tns:Country" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingDetailsDTO" nillable="true" type="tns:ShippingDetailsDTO" />
  <xs:simpleType name="Country">
    <xs:restriction base="xs:string">
      <xs:enumeration value="US" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="GB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
</xs:schema>